
.rules{
    overflow-x: hidden;
    background-color: var(--clr-bg);
    width: 100%;
    height:100vh ;
   color: var(--clr-lg);

    .mode{
        position: relative;
        top: 0;
       padding-top: $sm;
        left: 5%;

        
    }

   


    .instructions {
        border: 1px solid darken($off-white, 10%);
        border-radius: 5px;
        margin-top: $lg;
        margin-bottom: $lg;
        padding: $sm $lg;
        width: 80%;
        margin: $lg auto;
        
    
    
        h1 {
            color: var(--clr-lg);
            font-size: $md;
            text-align: center;
        }
    
        .lifeline {
            position: relative;
            top: -3px;
        }
    
        .lifeline-icon {
            color: $green;
            cursor: pointer;
        }
    
        .browser-default {
            padding-left: 30px;
            margin-top: 10px;
            margin-bottom: 15px;
        }
    
        img {
            width: 80%;
            height: 50%;
            margin: $sm auto;
            border-radius: 10px;
        }
    
        .decision{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    
        .decision span{
            padding:$xs $normal;
            border-radius: 3px;
            box-shadow: $shadow;
            font-size:small;
    
        }

        .decision span:first-child{

            background-color: #ff0000;


        }

        .decision span:last-child{

            background-color: #07b907;


        }
    } 
}




@media (max-width: $md-breakpoint) {

    .rules{
        height: auto;
        .instructions{
            width: 95%;
            padding: $normal;
            .instructions img {
                width: 100% !important;
                height: 150% !important;
                
            }


            .decision span{
                justify-content: space-between;
                padding: 5px 10px;
                font-size: smaller;

            }
        }
        
    }
   
}