

.questions {
    background-color: $off-white;
    width: 50%;
    margin: $xlg auto 0 auto;
    padding: $sm $md;
    border-top: 0;
    position: relative;

    h2 {
        text-align: center;
        font-weight: lighter;
    }

    .lifeline-container {
        display: flex;
        justify-content: space-between;
    }


    .timer-container {
        display: flex;
        justify-content: space-between;
    }
    .lifeline {
        position: relative;
        top: -3px;
    }


    .right{
        display: inline-flex;
        align-items: center;
    }

    .lifeline-icon {
        color: $green;
        cursor: pointer;
    }

    .lifeline-icon:hover {
        background: none;
        color: darken($orange, 10%);
    }

    h5 {
        font-size: 1.2rem;
        margin-bottom: lg;
        line-height: 1.5;
        text-align: center;
    }

    .options-container {
        display: inline-block;
        width: 50%;
    }

    .option {
        background-color: $orange;
        border-radius: $button-radius;
        color: $white;
        cursor: pointer;
        margin: $md auto;
        padding: $normal;
        transition: 0.3s linear all;
        text-align: center;
        width: 50%;
    }

    .option:hover {
        background-color: darken($blue, 20%);
    }
  

    .correct-option {
        background-color: green;
        color: white; /* Optionally change the text color */
      }

      .wrong-option {
        background-color: red;
        color: white; /* Optionally change the text color */
      }
    
    

    
}


.timeline {
    position: absolute;
    top: 0;
    left: 0;
    width: 0; /* Initial width is 0 */
    border-top: 3px solid red; /* Style and color of the timeline */
}

.button-container {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto $sm auto;
    padding: $md;
    width: 80%;
}

.button-container button {
    border: none;
    color: $off-white;
    cursor: pointer;
    font-family: $quicksand;
    margin-right: $md;
    padding: $xs $sm;
}

.button-container button:first-child {
    background-color: darken($blue, 10%);
    box-shadow: $shadow;
    transition: 0.2s linear all
}

.button-container button:first-child:hover {
    background-color: darken($blue, 20%);
}

.button-container button:nth-child(2) {
    background-color: $green;
    box-shadow: $shadow;
    transition: 0.2s linear all
}

.button-container button:nth-child(2):hover {
    background-color: darken($green, 10%);
}

.button-container button:last-child {
    background-color: $red;
    box-shadow: $shadow;
    transition: 0.2s linear all
}

.button-container button:last-child:hover {
    background-color: darken($red, 10%);
}


