


.quiz-div{
  width: 100%;
  height:100vh ;
background-color: var(--clr-bg);
overflow: hidden;

.mode{
    position: relative;
    top: 5%;
    left: 5%;
}


    .questions {
        background-color: var(--clr-fg);
        width: 50%;
        margin: $xlg auto 0 auto;
        padding: $sm $md;
        border-top: 0;
        position: relative;
        border-radius:0 0 50px 50px;
        h2 {
            text-align: center;
            font-weight: lighter;
            color: var(--clr-lg);
        }
    
        .lifeline-container {
            display: flex;
            justify-content: space-between;
           margin-bottom: $normal; 
        }
    
    
        .timer-container {
            display: flex;
            justify-content: space-between;
            margin-bottom: $sm;
        }
        .lifeline {
            position: relative;
            top: -3px;
        }
    
        .left{
            color: var(--clr-lg);
        }
    
        .right{
            display: inline-flex;
            align-items: center;
        }
    
        .lifeline-icon {
            color: $green;
            cursor: pointer;
        }
    
        .lifeline-icon:hover {
            background: none;
            color: darken($orange, 10%);
        }
    
        h5 {
            font-size: 1.2rem;
            margin-bottom: lg;
            line-height: 1.5;
            text-align: center;
            color: var(--clr-lg);
        }
    
        .options-container {
            display: inline-block;
            width: 50%;
            
        }
    
        .option {
            background-color: var(--clr-bg-alt);
            border-radius: $button-radius;
            color: $white;
            cursor: pointer;
            margin: $md auto;
            padding: $normal;
            transition: 0.3s linear all;
            text-align: center;
            width: 70%;
            border: 2px solid var(--clr-fg-alt);
            
        }
    
        .option:hover {
            background-color:var( --clr-primary)
        }
      
    
        .correct-option {
            background-color: green;
            color: white; /* Optionally change the text color */
          }
    
          .wrong-option {
            background-color: red;
            color: white; /* Optionally change the text color */
          }
        


          .timeline {
            position: absolute;
            top: 0;
            left: 0;
            width: 0; /* Initial width is 0 */
            border-top: 5px solid red; /* Style and color of the timeline */
            border-radius: 30px;
        }
        
        .button-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            padding: $md;
            width: 100%;
        }
        
        .button-container button {
            border: none;
            color: $off-white;
            cursor: pointer;
            font-family: $quicksand;
            padding: $xs $sm;
            border-radius: $sm;
            
        }
        
        .button-container button:first-child {
            background-color: darken($blue, 10%);
            box-shadow: $shadow;
            transition: 0.2s linear all
        }
        
        .button-container button:first-child:hover {
            background-color: darken($blue, 20%);
        }
        
        .button-container button:nth-child(2) {
            background-color: $green;
            box-shadow: $shadow;
            transition: 0.2s linear all
        }
        
        .button-container button:nth-child(2):hover {
            background-color: darken($green, 10%);
        }
        
        .button-container button:last-child {
            background-color: $red;
            box-shadow: $shadow;
            transition: 0.2s linear all
        }
        
        .button-container button:last-child:hover {
            background-color: darken($red, 10%);
        }
        
        
    
        
    }
}







@media (max-width: $md-breakpoint) {
   
   
    .quiz-div{
        height: auto;
        

        .mode{
           padding: $sm 0;
        }
        
        .questions{
        width: 90% !important;
        border-radius: 0;
         padding: $sm;
         margin: $sm auto;

        .options-container{
            width: 100%;
            display: block;
        }
    
        .option{
            width: 80%;
            padding: 0;
            padding: $sm;

        }
    
        .button-container{
         padding: 0;
         margin-bottom: $normal $md;
        }
    }
}

 
}
