
.summary{
    overflow: hidden;
    background-color: var(--clr-bg);
    width: 100%;
    height:100vh ;

    .mode{
        position: relative;
        top: 0;
        padding-top: $sm;
        left: 5%;
    }
    
    .quiz-summary {
        font-family: $quicksand;
        margin-top: -$lg;
    
       
    
        span.success-icon {
            color: $green;
            font-size: $xxlg;
        }
    
        
    
        h1 {
            color: $green;
            text-align: center;
            font-size: $lg;
            margin-top: -$lg;
        }
    
        h2 {
            color: $blue;
        }
    
        h3 {
            color: var(--clr-lg);
        }
    
        
    
    
    
         div.container.stats{
    
            background-color: var(--clr-fg);
            margin: $lg auto;
            padding: $sm;
            width: 70%;
        }
    
        
    
        .stats h3, .stats h2 {
            text-align: center;
            margin-bottom: $sm;
        }
    
        .stats .stat {
            color: var(--clr-lg);
            font-size: $normal;
        }
    
        .stats .right {
            color: var(--clr-lg);
            font-size: $normal;
        }
    
        .statistics{
          
            margin:  $normal auto;
        text-align: center;
       
        }
    
       
        section ul {
            margin-top: $sm;
            text-align: center;
        }
    
        section ul li {
            display: inline-block;
            padding: $normal;
        }
    
        section ul li a {
            padding: $sm !important;
            text-decoration: none;
        }
    
        section ul li a:hover {
            color: $off-white;
        }
    
        section ul li:first-child {
            border: 1px solid $blue;
            margin-right: $sm;
            transition: 0.3s linear all;
        }
    
    
        section ul li:first-child a{
             color: $blue;
        }
    
    
        section ul li:first-child a:hover{
            color:$off-white ;
       }
        section ul li:first-child:hover {
            background-color: $blue;
           
        }
    
        section ul li:last-child {
            border: 1px solid $green;
            transition: 0.3s linear all;
        }
    
        section ul li:last-child:hover {
            background-color: $green;
        }
    
        section ul li:last-child a {
            color: $green;
        }
    
        section ul li:last-child a:hover {
            color: $off-white;
        }
    
        .no-stats {
            color: $off-black;
            margin: $xxlg auto;
        }
    }



}

@media (max-width: $md-breakpoint) {


    .summary{
      


        .quiz-summary {
            padding-left: $xs;
            padding-right: $xs;
    
            div.container.stats{
                margin: $sm auto;
                padding: $normal;
                width: 100%;
            }
            
            h1{
                font-size: $sm;
            }
            h3{
                font-size: $normal;
            }


            section ul li {
                padding: 5px 0;
            }
        }
    

    }
   
   
}